* {
    font-family: 'Times New Roman', serif;
}


body {
    padding: 1em;
}

.corpus {
    font-size: 18px;
    font-family: serif;
    text-align: justify;
    margin-top: 1em;
}

.qa-head{
    font-size: 24px;
    font-weight: bold;
    margin-top: 15px;
    margin-bottom: 0.5em;
}

.header-img{
    height: 100%;
    width: 100%;
}

.quote{
    font-family: "Brush Script MT", serif;
    text-align: center;
    font-size: 48px;
    margin: 0.25em;
}