@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');

/* desktop */
body {
    background: linear-gradient(#394B8B, #0F1425);
    background-repeat: no-repeat;
    /* background-size: cover; */
    background-attachment: fixed;
    width: 100%;
    height: 100%;
    /* what is this bs? */
    /* overflow: hidden; */
    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
    margin: 0;
}

.grid{
    display: grid;
    grid-template-columns: 50% 50%;
    padding: 1em;
}

.boxes{
    background-image: linear-gradient(rgba(255,255,255,0.2), rgba(153,153,153,0.1));
    border-radius: 10px;
    border: 0px solid;
    width: 100%;
    height: 100%;
}

/* left box */
#lcol{
    display: flex;
    flex-direction: column;
    align-items: center;
    align-self: center;
    gap: 20px;
    width: 100%;
}

/* box one */
.box-one{
    /* an array of fucked up grids */
    max-width: 80%;
    min-height: 50vh; /* remove this later */
    color: white;
    .title{
        text-align: center;
        font-size: 40px;
        font-weight: bold;
        padding: 0.5em 0.25em 0.25em 0.25em;
        -moz-user-select: none;
        -webkit-user-select: none;
        user-select: none;
    }
    #content{
        display: grid;
        grid-template-columns: auto auto;
        width: 90%;
        padding: 1em;
        #l-grid{
            padding: 1em;
            border-right: 2px solid white;
        }
        #r-grid{
            /* display: grid; */
            /* grid-template-rows: auto auto; */
            /* elements spill below */
            padding: 1em;
            #links{
                display: flex;
                flex-direction: column;
                align-items: end;
                text-align: right;
                .greeting{
                    text-decoration: none;
                    color: white;
                    font-size: 24px;
                    margin-bottom: 16px;
                }
                .about{
                    text-decoration: none;
                    color: white;
                    font-size: 24px;
                    margin-bottom: 5px;
                }
                .else{
                    text-decoration: none;
                    color: white;
                    font-size: 16px;
                }
            }
            #credits{
                border-top: 2px solid white;
                display: flex;
                flex-direction: column;
                align-items: end;
                padding-top: 1em;
                margin-top: 0.75em;
                text-align: right;
            }
        }
    }
}

/* box two */

.box-two{
    min-height: 40vh;
    max-width: 80%;
    .title{
        font-size: 24px;
        font-weight: bold;
        color: white;
        -moz-user-select: none;
        -webkit-user-select: none;
        user-select: none;
    }
    .logos{
        display: grid;
        gap: 8px;
        grid-auto-flow: column;
        grid-template-rows: repeat(4, auto);
        padding: 0.75em;
        /* overflow-x: scroll; */
    }
}


/* right box */
.box-right{
    max-height: 90%;
}

#rcol{
    width: 90%;
    .title{
        font-size: 24px;
        color: white;
        padding: 1em;
        -moz-user-select: none;
        -webkit-user-select: none;
        user-select: none;
    }
}

#info{
    position: relative;
    background-color: black;
    color: white;
    padding: 1em;
    margin-left: 1em;
    margin-right: 1em;
    height: 80%;
    overflow: hidden;
    border-radius: 10px;
    iframe{
        position: absolute;
        border: none;
        top: 0;
        left: 0;
        bottom: 0;
        right: 0;
        width: 100%;
        height: 100%;
    }
}

/* mobile */
@media (max-width: 768px) {
    .grid{
        display: block;
    }

    .box-one{
        .title{
            font-size: 32px;
        }
        #content{
            #r-grid{
                #links{
                    .greeting{
                        font-size: 20px;
                        /* margin-bottom: 16px; */
                    }
                    .about{
                        font-size: 20px;
                        /* margin-bottom: 5px; */
                    }
                    .else{
                        font-size: 12px;
                    }
                }
                #credits{
                    font-size: 12px;
                }
            }
        }
    }

    #rcol{
        margin-top: 20px;
        margin-right: 5vw;
        min-height: 90vh;
        float: right;
        #info{
            min-height: 70vh;
        }
    }
}

/* shared stuffs */
.foot{
    font-size: 20px;
    margin-bottom: 1em;
    padding-left: 1em;
    font-weight: lighter;
    color: white;
}

.cursor-pointer{
    cursor: pointer;
}

.anim-right{
    transition: 0.3s;
}


@media (pointer: fine){
    .anim-right:hover{
        transition: 0.3s;
        transform: translateX(5px);
    }
    .anim-scale{
        transition: 0.3s;
    }
    .anim-scale:hover{
        transition: 0.3s;
        transform: scale(1.05);
    }
}

@media (pointer: coarse){
    
}

.link-btn{
    display: flex;
    align-items: center;
    width: -moz-fit-content;
    width: fit-content;
    color: white;
    span{
        font-size: 16px;
        font-weight: bold;
        margin-left: 6px;
    }
}

.link-btn:link, .link-btn:visited{
    text-decoration: none;
    color: white;
}

.inline-125{
    padding: 1.25em;
}