.head{
    text-align: left !important;
    font-weight: 700;
    font-size: 32px;
    margin-bottom: 14px;
}

.point{
    text-decoration: underline;
}

.mb-m8{
    margin-bottom: -0.5em;
}

.point-extra{
    font-style: italic;
    margin-top: 0.5em;
    margin-bottom: -0.5em;
}

ul li{
    text-align: justify;
}

.span-yt{
    color: rgb(255, 87, 87);
}

.span-grey{
    color: rgb(178, 178, 178);
}